@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    font-weight: 400;
}

button{
    border: none;
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
}

.button:hover{
    opacity: 0.5;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

/* navbar */

nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 50;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.bar_icon{
    font-size: 32px;
}

/* hero section */
.hero_section{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.text_container{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.tag{
    color: white;
    background-color:#149F39;
    padding: 15px 10px;
    align-self: flex-start;
}

.explore_btn{
    color: white;
    background-color: #FFC066;
    align-self: flex-start;  
}

.text_container h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}

/* Features */

.features{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.feature{
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
}

.feature img{
    width: 72px;
}

.feature:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}

.divider{
    border: 1px solid #ccc;
    margin: 20px 0;
}

/* menu section */

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px 0;
}

.menu .tag{
    align-self: center;
}

.grid_img{
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.grid_img:hover{
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
}

.grid{
    display: grid;
    gap: 10px;
    grid-template-areas: "I1 I1 I2 I3"
                         "I1 I1 I2 I7"
                         "I4 I5 I6 I7";
}

.img1{
    grid-area: I1;
}

.img2{
    grid-area: I2;
}

.img3{
    grid-area: I3;
}

.img4{
    grid-area: I4;
}

.img5{
    grid-area: I5;
}

.img6{
    grid-area: I6;
}

.img7{
    grid-area: I7;
}


/* footer section */
footer{
    background-color: #fff0db;
}

.content{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.main_link ul,.Support_us ul{
    list-style: none;
}

.main_link ul li,.Support_us ul li{
    font-size: 16px;
    margin-bottom: 5px;
}

.newsletter h4,.main_link h4,.Support_us h4{
    margin-bottom: 10px;
}

.newsletter{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.newsletter input{
    padding: 5px 20px;
    margin-top: -10px;
}

.follow_icon{
    display: flex;
    gap: 15px;
    font-size: 32px;
    margin-top: -15px;
}

@media (max-width:780px){
    .hero_section{
        flex-direction: column;
    }

    .hero_img{
        display: flex;
        justify-content: center;
    }

    .hero_img img{
        width: 80%;
    }

    .text_container{
        gap: 10px;
        padding: 0 20px;
    }

    .text_container h1{
        font-size: 32px;
    }

    .features{
        flex-direction: column;
    }

    .feature{
        flex-direction: column;
    }

    .grid{
        padding: 10px;
    }

    .grid_img{
        border-radius: 0px;
    }

    .content{
        flex-direction: column;
        gap: 20px;
    }

    .newsletter input{
        margin-top: -10px;
    }

    .follow_icon{
        margin-top: -15px;
    }

    .bar_icon{
        padding-right: 10px;
    }
}